PORT=4400

PG_TYPE=postgres
PG_DB=test
PG_USER=postgres
PG_PASSWORD=root
PG_PORT=5432
PG_HOST=localhost

MYSQL_TYPE=mysql
MYSQL_DB=test
MYSQL_USER=root
MYSQL_PASSWORD=Ar0kadeka
MYSQL_PORT=3306
MYSQL_HOST=localhost

FB_APP_ID=1246492379198507
FB_APP_SECRET=55cf30c02e949d7af36e1fa934b99380

APP_URL=http://localhost:${PORT}/api